node_modules
.vscode/
assets/avatar/
vendor
/composer.lock
*.html
*.log
*.sql
*.zip
*.tar.gz
.DS_Store
Thumbs.db
.idea/
*.sublime-project
*.sublime-workspace
*.env
*.env.local
*.env.*.local
*.bak
*.tmp
*.swp
*.swo
*.dist